<html>
    <head>
        <title>Folder Structure</title>
    </head>
    <body>
        <h1>NodeJs Day 9 - folder structure</h1>
        <br>
        <h3> <a href="http://localhost:8000/students/fees">Students Fees</a> </h3>
        <br>
        <h3> <a href="http://localhost:8000/students/result">Students Result</a> </h3>
    </body>
</html>